{% extends 'base.html' %}

{% block title %}Главная - Православный портал{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Добро пожаловать в Православный портал</h1>
        <p>Сайт находится в разработке...</p>
        
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Видео-рассказы</h5>
                        <p class="card-text">Духовные истории и свидетельства</p>
                        <a href="#" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Библиотека</h5>
                        <p class="card-text">Книги и статьи</p>
                        <a href="#" class="btn btn-primary">Читать</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Аудио</h5>
                        <p class="card-text">Подкасты и аудиокниги</p>
                        <a href="#" class="btn btn-primary">Слушать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}